@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&family=Satisfy&display=swap');

.navSection {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 1200px;
  height: auto;
}

.aBuiDevSVGLogo {
  width: 100px;
}

.navButtonsContainer {
  font-family: 'Quicksand', sans-serif;
  width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* Main Section */
.mainSection {
  width: 100%;
  padding: 25px 0px 25px 0px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.mainSectionTitle {
  font-family: 'Quicksand', sans-serif;
  font-size: 50px;
  margin: 0px 0px 25px 0px;
}

.taskInputForm {
  width: 1200px;
  height: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.taskInput {
  font-family: 'Quicksand', sans-serif;
  width: 100%;
  height: 100px;
  padding: 0px 0px 0px 50px;
  font-size: 30px;
  display: flex;
  align-items: center;
  resize: none;
  margin: 0px 25px 0px 0px;
  border: 2px solid rgb(160, 160, 160);
}

.taskInput:focus {
  outline: none;
}

.taskInputButton {
  cursor: pointer;
  width: 150px;
  height: 104px;
  outline: none;
  border: 2px solid rgb(28, 121, 0);
  background-color: rgb(40, 233, 50);
  transition: 0.1s;
  color: rgb(28, 121, 0);
}

.buttonIcon {
  font-size: 50px;
}

.taskInputButton:hover {
  background-color: rgb(28, 121, 0);
  color: #fff;
}

.mainSectionTaskOutput {
  font-family: 'Quicksand', sans-serif;
  width: 1200px;
  height: 50px;
  font-size: 20px;
  text-align: center;
}

.mainSectionContainer {
  width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

/* Task Output */
.taskOutput {
  width: 380px;
  height: 380px;
  margin: 10px;
  background-image: url('./images/noteBackgroundImage.png');
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.taskOutput p {
  width: 260px;
  font-family: 'Quicksand', sans-serif;
  color: #fff;
  font-size: 25px;
  line-height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50px;
  left: 50px;
}

.taskOutput button {
  position: absolute;
  bottom: 70px;
  right: 60px;
}

.taskOutput button:focus {
  outline: none;
}

.taskOutputControls {
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: rgb(117, 117, 117);
  font-size: 30px;
  transition: 0.1s ease-in;
}

.taskOutputControls:hover {
  color: #fff;
}
